<md-card class="card">
  <h3>List Route</h3>
  <md-input-container class="fullwidth">
    <input md-input placeholder="Search here" (input)="search($event)">
  </md-input-container>
  <md-list>
    <div *ngFor="let route of routeService.routes | async | reverse | filterRoute:searchStr | async; let lastItem = last">
      <md-list-item>
        <!--<md-icon md-list-avatar>code</md-icon>-->
        <h4 md-line>{{route.path}}</h4>
        <p md-line> {{route.method}} </p>
        <route-action [route]="route" [projectId]="projectId" (deleteRouteEvent)="deleteRoute($event)"></route-action>
      </md-list-item>
      <md-divider [class.hidden]="lastItem"></md-divider>
    </div>
  </md-list>
</md-card>
<button md-mini-fab class="new-route" (click)="newRoute()"><md-icon>add</md-icon></button>